<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quiz.envizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Envizer">
        <activity
            android:name=".AccountDetails"
            android:exported="true" />
        <activity
            android:name=".CreateAccount"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AvatarSelection"
            android:exported="true" />
        <activity
            android:name=".ResultScreen"
            android:exported="true" />
        <activity
            android:name=".SolvingQuiz"
            android:exported="true" />
        <activity
            android:name=".ThemeSelection"
            android:exported="true" />
        <activity
            android:name=".LanguageSelect"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
    </application>

</manifest>